/*div {*/
    /*width: 300px;*/
    /*height: 600px;*/
/*}*/

/*div div {*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*outline: 1px solid;*/
    /*float: left;*/
/*}*/
/*.pitch {*/
    /*width: 50%; height: 40px; background-color: blue; margin-left: auto;*/
    /*margin-right: auto; margin-top: 20px; border-radius: 20px;*/
/*}*/
.pitch {
    margin: auto;
    width: 50%;
    border: 3px black;
    padding: 10px;
}
.card{
    background-color: darkblue;
    border: dotted;
    height: 120px;
    width: 120px;
    display: inline-block;
}
#startbutton {
    background-color: darkblue;
    border: darkred;
    border-radius: 4px;
    color: yellow;
    position: fixed;
    top: 300px;
    left: 120px;
    height: 120px;
    width: 120px;
}
#timer {
    color: red;
    position: fixed;
    top: 300px;
    right: 200px;
}
/*#card1 {*/
    /*width: 20%;*/
    /*display: inline-block;*/
/*}*/
/*#card2 {*/
    /*width: 20%;*/
    /*display: inline-block;*/
/*}*/
/*#card3 {*/
    /*width: 20%;*/
    /*display: inline-block;*/
/*}*/
/*#card4 {*/
    /*width: 20%;*/
    /*display: inline-block;*/
/*}*/
/*#card5 {*/
    /*background-color: lightgray;*/
/*}*/
body {
    background-color: yellow;
}

h1 {
    font-family: KacstPoster;
    color: darkblue;
    text-align: center;
}